<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-user-tag"></span>Username</h1>

    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <form action="/username" method="post">
        <div class="form-group">
            <label>Choose a username</label>
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>

        <button type="submit" class="btn btn-warning">Choose</button>
    </form>

    <hr/>

    <p>Go <a href="/">home</a>.</p>

</div>
